.form--label--wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.form--password--icon {
  font-size: 1rem;
  cursor: pointer;
}

.form--input {
  display: block;
  border: 0.15rem solid rgb(var(--accent-color), 0.1);
  background-color: rgb(var(--accent-color), 0.1);
  width: 100%;
  color: inherit;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.form--input:focus {
  outline: none;
  border-color: rgb(var(--accent-color));
}

.form--input::placeholder {
  opacity: 0.5;
  color: inherit;
  transition: 0.15s ease-in-out;
}

.form--input:focus::placeholder {
  opacity: 0;
}
