* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root of html page */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  background-color: #111827;
  color: #e2e8f0;
  --accent-color: #2563eb;
  --accent-color-hover: #1e40af;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Root of react app */
#root {
  height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #e2e8f0;
    color: #334155;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #020617;
  }
} ;
