.home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
}

.home--form {
  position: relative;
  width: min(90%, 500px);
  margin: 0 auto;
}

.home .loading-spinner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  font-size: 1.5rem;
  animation: search-spin 0.75s linear infinite;
}

.home--search {
  width: 100%;
  border: 0.15rem solid rgba(var(--accent-color), 0.3);
  background-color: rgba(var(--accent-color), 0.3);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  padding-right: 2rem;
  font-size: 1rem;
  transition: border-color 0.3s ease-in-out;
}

.home--search::placeholder {
  color: inherit;
  opacity: 0.75;
  transition: opacity 0.3s ease-in-out;
}

.home--search:focus::placeholder {
  opacity: 0;
}

.home--search:focus {
  outline: none;
  border-color: rgb(var(--accent-color));
  background-color: rgba(var(--accent-color), 0.1);
}

.home--notfound {
  margin-top: 2rem;
  text-align: center;
}

.home--notfound i {
  color: rgb(var(--accent-color));
}

.home--post {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.home--post:not(:last-child) {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(var(--accent-color), 0.15);
}

.home--post--img {
  height: 20rem;
  width: 100%;
  aspect-ratio: auto;
  object-fit: cover;
}

.home--post--text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.home--post--title {
  font-size: 2rem;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.home--post--title:hover {
  text-decoration: underline rgb(var(--accent-color));
}

.home--post--date {
  opacity: 0.5;
  font-size: 0.875rem;
}

.home--post--tag {
  display: inline-block;
  color: rgb(var(--accent-color));
  border: 1px solid rgb(var(--accent-color));
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 0.5rem;
  text-transform: capitalize;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.home--post--summary {
  line-height: 1.6;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.home--create--post {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  background-color: rgb(var(--accent-color));
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 2.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 50px;
  line-height: 100%;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(var(--accent-color), 0.3);
  transition: 0.3s ease-in-out;
}

.create--post_text {
  font-size: 0.875rem;
}

@media (min-width: 640px) {
  .home--post {
    flex-direction: row;
  }

  .home--post--img {
    height: auto;
    width: 15rem;
    aspect-ratio: 0.75;
  }

  .home--create--post {
    width: 2.5rem;
    justify-content: flex-start;
    gap: 0;
  }

  .home--create--post:hover {
    width: 8.75rem;
  }

  .create--post_text {
    position: absolute;
    left: 2.5rem;
    width: max-content;
  }
}

@keyframes search-spin {
  100% {
    transform: translateY(-50%) rotate(1turn);
  }
}
